
    
   
   <ion-content>
     <ion-slides style="height:100%" pager="true" [options]="slideOpts">
       <ion-slide>
         <ion-grid>
      <ion-row >
      <ion-col style="padding-bottom: 170px; " class="ion-align-self-center">
       <img  src="assets/imgs/xender.png" style="border-radius:10px; width: 200px;">
       <h1>Baixe o Xender</h1>
      <p>Para exportar a pasta de seu disposito, você instalará o Xender na Google play</p>
      <ion-button (click)="baixar()">Baixar Xender</ion-button>
       </ion-col>
     </ion-row>
     <ion-row>
   
     </ion-row>
     </ion-grid>
       </ion-slide>
   
       <ion-slide>
         <ion-grid>
      <ion-row >
      <ion-col style="padding-bottom: 160px; " class="ion-align-self-center">
       <img  src="assets/imgs/exporta1.jpg" style="border-radius:100px; width: 200px;">
       <h1>Envie a pasta para o seu amigo</h1>
      <p>Envie a pasta CloudBook que está no armazenamento local para o seu amigo, por meio do app.</p>
       </ion-col>
     </ion-row>
     <ion-row>
   
     </ion-row>
     </ion-grid>
       </ion-slide>
       
       <ion-slide>
         <ion-grid>
      <ion-row >
      <ion-col style="padding-bottom: 100px; " class="ion-align-self-center">
        <ion-icon color="primary" name="sync-circle-sharp" style="zoom: 6.0;"></ion-icon>
       <h1>Sincronize a pasta com seu CloudBook</h1>
      <p>Feito isso você clicará em sincronizar e pronto. Seu Cloudbook está totalmente sincronizado, agora é só sair de sua conta e entra na do seu colega :)</p>
      <ion-button (click)="terminar()">Terminar</ion-button>
       </ion-col>
     </ion-row>
     <ion-row>
   
     </ion-row>
     </ion-grid>
       </ion-slide>
      
     
  
  
     </ion-slides>
   </ion-content>